.page {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-text);
  margin: auto;
  background-color: #c0bebe;
  background-image: var(--page-bg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__box {
  inline-size: var(--content-box-width);
  background-color: var(--content-box-bg);
  border: 2px solid black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--decorative-font);
  margin: 100px 0;
  padding: clamp(112px, 9vw, 128px) clamp(14px, 8vw, 120.5px);
  max-inline-size: clamp(375px, 49vw, 700px);
  margin-block: 100px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 65px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.header__caption {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
  text-transform: uppercase;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.story__card {
  background-color: var(--content-box-bg);
}

.card__title {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-variation-settings: 'wght' var(--main-font-title);
  padding: 5px 10px;
}

.card__cover {
  position: relative;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
  margin: 0;
}

.cover__image {
  display: block;
  object-fit: cover;
  background-size: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  z-index: 0;
}

.image__grayscale {
  filter: grayscale(0.9);
}

.image__blur {
  filter: blur(0.2rem);
}

.image__hue-rotate {
  filter: hue-rotate(45deg);
}

.image__brightness {
  filter: brightness(145%);
}

.image__sepia {
  filter: sepia(95%);
}

.image__saturate {
  filter: saturate(320%);
}

.image__contrast {
  filter: contrast(140%);
}

.image__layered {
  filter: contrast(200%) sepia(80%);
}

.card__stamp {
  position: absolute;
  top: 25px;
  right: 25px;  
  z-index: 5;
  opacity: 0.5;
  font-family: var(--decorative-font);
  font-size: 14px;  
  font-weight: 400;
  text-shadow: -1px 0 var(--stamp-shadow), 
                0 1px var(--stamp-shadow), 
                1px 0 var(--stamp-shadow), 
                0 -1px var(--stamp-shadow);
}

@supports ((text-stroke: 1px var(--stamp-shadow)) 
or (-webkit-text-stroke: 1px var(--stamp-shadow))) {
  .card__stamp {
    text-shadow: none;
    text-stroke: 1px var(--stamp-shadow);
    -webkit-text-stroke: 1px var(--stamp-shadow);
    mix-blend-mode: hard-light;
  }
}

.card__text {
  display: grid;
  font-size: 18px;
  line-height: 21px;
  gap: 26px;
  padding: 25px;
}

.card__buttons {
  display: flex;  
  justify-content: end;
  padding: 0 25px 25px 25px;
}

.button__layout {
  background-color: var(--button-bg);
  font-family: var(--decorative-font);
  border: 2px solid rgba(0, 0, 0, 1);
  font-size: 14px;
  line-height: 12.6px;
  height: 38px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button__layout:before {
  content: "";
  display: block;
  height: 100%;
  background-color: #000;
  width: 0;
  transition: 0.5s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
}

.button__layout:hover:before {
  width: 100%;
  color: #fff;
  cursor: pointer;
}

.button__layout:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.button__text {
  mix-blend-mode: difference;
  color: #fff;
  cursor: pointer;
}

.card__like-button {
  width: 130px;
  height: 38px;
  justify-items: center;
}


.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  max-block-size: 38px;
  max-inline-size: 38px;
  background-color: var(--button-bg);
  transition: fill 0.3s linear;
  cursor: pointer;
  margin-right: 6px;
}

.card__icon-button svg {
  margin: none;
  display: block;
  flex-shrink: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  /* aspect-ratio: 1 / 1; */
  border-color: #000;
} 

.contour {
  fill: var(--like-icon-off);
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.footer__save-button {
  width: 335px;
  height: 51px;
  display: flex;
  margin-top: 2px;
  margin-bottom: 105px;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.footer__save-button svg {
  inline-size: 21px;
  fill: currentColor;
  mix-blend-mode: difference;
}

.dialog__popup[open] {
  padding: 30px;
  align-items: center;
  max-inline-size: 357px;
  font-family: var(--decorative-font);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__popup[open]::backdrop {
  background-color: #000;
  opacity: 75%;
}

body:has(.dialog__popup[open]) {
  overflow: hidden;
}

.dialog__popup-box {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  justify-items: center;
  padding-right: 40px;
}

.dialog__popup-box svg {
  inline-size: 39px;
  fill: currentColor;
}

.dialog__close-button {
  grid-column: 1 / 3;
  inline-size: 293px;
  min-block-size: 38px;
  align-items: center;
  text-transform: uppercase;
  align-self: center;
}

.dialog__popup .button__text {
  inline-size: 234px;
}

@media (max-width: 700px) {
  :root {
    --content-box-width: 100%;
  }
}

@media (max-width: 375px) {
  /*
  .header { 
    padding: 112px 0;
    margin: 102px 0;   у меня по PixelPerfect сходятся эти значения
    padding: 120px 0;  
    margin: 100px 0; 
  } */
   
  .header__title {
    padding-bottom: 8px;
  }
  .card__stamp {
    top: 23px;
    right: 11px;
  }
  .footer__save-button { 
    width: 306px;
    height: 84px;
    margin-top: 0px;      
    flex-direction: column;
    padding: 10px;
  }
  .footer__save-button svg {
    height: 28px;
    width: 28px;
  }
  .dialog__popup[open] {
    max-inline-size: 341px;
    min-block-size: 195px;
    padding: 32px 42px;
  }
  .dialog__close-button {
    position: absolute;
    top: 125px;
    left: 42px;
    bottom: 32px;
    right: 42px;
    inline-size: 253px;
  }
}